a{
	text-decoration: none !important;
}
a:hover{
	text-decoration: underline !important;
}
a.btn:hover, .navbar a{
	text-decoration: none !important; 
}
.container{
	width: 100%;
}
.wrapper{
	max-width: 1200px;
	padding: 40px 20px;
}
#search-results{
	margin: 25px 0px;
}
